{% extends "general/base.html" %}
{% load static %}
<!--Titulo de la pagina-->
{% block titulo %} {% endblock %}

<!--Contenido-->
{% block contenido %} 

<div class="container pt-5">

    <table class="table ">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Local</th>
            <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        </tbody>

    </table>

</div>
{% endblock %}
